<div id="footer-nav">
	<div class="container wrap">
		<div class="pure-g">
			<div class="pure-u-1-3">
				<div class="footer-logo">
					<img src="/img/common/footer-logo.png" alt="唯一优品" title="唯一优品">
				</div>
			</div>
			<div class="pure-u-2-3">
				<div class="pure-g">
					<div class="pure-u-1 footer-links">
						<p class="nav-list">
							<a href="javascript:;" class="nav-item">首页</a><i>|</i>
							<a href="javascript:;" class="nav-item">关于我们</a><i>|</i>
							<a href="javascript:;" class="nav-item">媒体报道</a><i>|</i>
							<a href="javascript:;" class="nav-item">正品保证</a><i>|</i>
							<a href="javascript:;" class="nav-item">联系我们</a><i>|</i>
							<a href="javascript:;" class="nav-item">帮助中心</a><i>|</i>
							<a href="javascript:;" class="nav-item">友情链接</a><i>|</i>
							<a href="javascript:;" class="nav-item">手机客户端</a><i>|</i>
							<a href="javascript:;" class="nav-item">客服在线</a>
						</p>
					</div>
					<div class="pure-u-1">
						<div class="pure-g">
							<div class="pure-u-17-24">
								<div class="pure-g services">
									<div class="pure-u-1-4 services-item">
										<div class="title">新手上路</div>
										<div class="content">
											<p>
												<a href="javascript:;">注册登陆</a><br>
												<a href="javascript:;">抢购商品</a><br>
												<a href="javascript:;">购物指南</a><br>
												<a href="javascript:;">下单支付</a>
											</p>
										</div>
									</div>
									<div class="pure-u-1-4 services-item">
										<div class="title">支付方式</div>
										<div class="content">
											<p>
												<a href="javascript:;">主流网银支付</a><br>
												<a href="javascript:;">支付宝支付</a><br>
												<a href="javascript:;">信用卡支付</a><br>
												<a href="javascript:;">余额支付</a>
											</p>
										</div>
									</div>
									<div class="pure-u-1-4 services-item">
										<div class="title">配送方式</div>
										<div class="content">
											<p>
												<a href="javascript:;">配送说明</a><br>
												<a href="javascript:;">物流信息</a><br>
												<a href="javascript:;">验货签收</a>
											</p>
										</div>
									</div>
									<div class="pure-u-1-4 services-item">
									<div class="title">售后服务</div>
										<div class="content">
											<p>
												<a href="javascript:;">退货政策</a><br>
												<a href="javascript:;">退货流程</a><br>
												<a href="javascript:;">退货方式和实效</a>
											</p>
										</div></div>
								</div>
							</div>
							<div class="pure-u-7-24 footer-qrcode">
								<p>
									<img src="/img/common/qrcode-merge.png" alt="">
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container wrap">
		<p>Copyright © 2014&nbsp;广州微店网络科技有限公司 ve.cn 使用本网站即表示接受唯一用户协议。<br>
    <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备14068931号-1</a> | <a target="_blank" href="/img/common/yyzz.jpg">营业执照</a> | <a target="_blank" href="/img/common/bbbd.jpg">中华财险</a> | <a target="_blank" href="/img/common/spxk.jpg">食品流通许可证 SP4401061410023262</a></p>
    <p class="footer-beian">
    	<a class="b1 b" target="_blank" href="javascript:;" title="唯一优品，可信网站身份验证">可信网站身份验证</a>
    	<a class="b2 b" target="_blank" href="http://www.gzaic.gov.cn/GZCX/WebUI/credit/ReadInfo.htm" title="唯一优品，广州市工商行政管理局">广州市工商行政管理局</a>
    	<a class="b3 b" target="_blank" href="javascript:;" title="唯一优品，经营性网站备案信息">经营性网站备案信息</a>
    	<a class="b4 b" target="_blank" href="javascript:;" title="唯一优品，银联特约商户">银联特约商户</a>
    	<a class="b5 b" target="_blank" href="javascript:;" title="唯一优品，支付宝特约商家">支付宝特约商家</a>
    	<a class="b6 b" target="_blank" href="javascript:;" title="唯一优品，财付通诚信商家">财付通诚信商家</a>
    </p>
	</div>
</div>