<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1"/>
    <meta name="description" content="唯一优品 - 国内专业的母婴用品特卖平台_知名品牌婴儿用品【玩具,包包,书籍,辅食】特价专卖网站" />
    <meta name="keywords" content="唯一优品 - 国内专业的母婴用品特卖平台_知名品牌婴儿用品【玩具,包包,书籍,辅食】特价专卖网站" />
    <meta name="author" content="author">

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    
    <title>{{title}}</title>
    <!-- styles start -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/lib/pure.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/src/main.css" />
    <!--link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-precomposed.png"-->
    <!--link rel="icon" href="/assets/favicon.ico"-->
	<!-- styles end -->

    <!-- scripts start -->
    <script src="/javascripts/lib/jquery.min.js"></script>
    <script src="/javascripts/lib/underscore-min.js"></script>
    <script src="/javascripts/lib/backbone-min.js"></script>    

    <!-- scripts end -->
</head>