<div id='main-nav'>
    <div class="container wrap">
        <div class="pure-g">
            <div class="pure-u-1">
                <ul class="main-nav-list">
                    <a href="/"><li class="main-nav-item select"><span>首页</span></li></a>
                    <a href="/"><li class="main-nav-item"><span>精挑细选</span></li></a>
                    <a href="/"><li class="main-nav-item"><span>纸尿裤</span></li></a>
                    <a href="/"><li class="main-nav-item"><span>奶粉</span></li></a>
                    <a href="/"><li class="main-nav-item"><span>正品保证</span></li></a>
                </ul>
                <div id='nav-assure' class="pull-right">
                    <div class="item pull-left"><i class="icon">&#xf0293;</i>&nbsp;AAAAAA</div>
                    <div class="item pull-left"><i class="icon">&#xf0294;</i>&nbsp;BBBBBB</div>
                    <div class="item pull-left"><i class="icon">&#xf0295;</i>&nbsp;CCCCCC</div>
                    <div class="item pull-left"><i class="icon">&#xf0296;</i>&nbsp;DDDDDD</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='sub-nav'>
    <div class="container wrap">
        <div class="pure-g">
            <div class="pure-u-1">
                <ul class="sub-nav-list">
                    <a href="/"><li class="sub-nav-item"><span>首页</span></li></a>
                    <a href="/"><li class="sub-nav-item select"><span>精挑细选</span></li></a>
                    <a href="/"><li class="sub-nav-item"><span>纸尿裤</span></li></a>
                    <a href="/"><li class="sub-nav-item"><span>奶粉</span></li></a>
                    <a href="/"><li class="sub-nav-item"><span>正品保证</span></li></a>
                    <a href="javascript:;"><li class="pull-left"><span>|</span></li></a>
                    <li class="sub-nav-item hover-tigger"><span>年龄段</span><i class="icon flip">&#xe601;</i>
                        <div class="age-box hover-box">
                            <i class="icon arrow-up"></i>
                            <p>
                                <span>男孩：</span>
                                <a href="javascript:;">0-1岁</a><a href="javascript:;">1-3岁</a><a href="javascript:;">3-6岁</a><a href="javascript:;">6-12岁</a>
                            </p>
                            <p>
                                <span>女孩：</span>
                                <a href="javascript:;">0-1岁</a><a href="javascript:;">1-3岁</a><a href="javascript:;">3-6岁</a><a href="javascript:;">6-12岁</a>
                            </p>
                        </div>
                    </li>
                </ul>
                <span class='tel pull-right'><i class="icon tel">&#xf0306;</i>400-616-1111</span>
            </div>
        </div>
    </div>
</div>